@mixin flexible ($flexDire){
    display: flex;
    flex-direction: $flexDire;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;



}


.nosotros{
    margin: 13vh;
    .nosotros__primer{
        @include flexible(row);
        .nosotros__primer--caja{
            @include flexible(column);
            }
        }
    }
    .nosotros__segundo{
        @include flexible(row);
        .nosotros__segundo--caja{
            @include flexible(column)
        }
    }
