.mainSale{
    margin-top: 6rem;
    .banner{
        @include banner();
        .spanMont{
            font-family: $montserrat;
            text-shadow: black 1px 1px 1px;
            font-size: 3em;
            }
        .banner_title{
            font-family: $oswald;
            text-shadow: black .5px .5px .5px;
            }
        }
        .sale{
            width: 98%;
            margin: auto;
            .col{
                .sale__img--oculta{
                    position: absolute;
                    opacity: 0;
                    transition: all 0.5s ease-in-out;
                    &:hover{
                        opacity: 1;
                    }
                }
               
            }
        }

}